.upload-container {
  text-align: center;
  margin: 20px;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  background: #f0f0f0;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #555;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
}

.custom-file-upload:hover {
  background: #e0e0e0;
}

.custom-file-upload svg {
  vertical-align: middle;
}

#file-upload {
  display: none;
}

p {
  font-size: 14px;
  color: #333;
}
.file-svg {
  margin-top: -20px;
}
