.nav-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.nav-hr {
  width: 261.28px;
  border: 1px solid var(--bg-grey);
  margin: 0 auto 90px;
}
.nav-menu {
  display: flex;
  flex-direction: column;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 10.36px;
  margin-bottom: 22px;
  padding: 8px 0 8px 28.52px;
  border-radius: 0 50px 50px 0;
  background-color: var(--navLink-dark);
}
.link-span {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  line-height: 34.13px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--text-white);
}

.active {
  background-color: var(--navLink-active);
}
.active .icon-path {
  fill: var(--bg-dark);
}
.active .link-span {
  color: var(--navLinkActive-text);
}

.btn-link {
  background-color: var(--navBtn-link);
}

@media (max-width: 1600px) {
  .nav-brand img {
    width: 100%;
  }
  .nav-hr {
    margin: 0 auto 30px;
  }
  .nav-link {
    margin-bottom: 12px;
  }
}
@media (max-width: 1312px) {
  .nav-link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    border-radius: 0;
  }
  .link-span {
    text-align: center;
  }
  /* .nav-link svg {
    width: 100%;
  } */
}
@media (max-width: 991px) {
  .link-span {
    padding-top: 10px;
    line-height: 18.13px;
  }
}
