* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
}
:root {
  --bg-dark: #1e1e1e;
  --text-white: rgba(255, 255, 255, 1);
  --bg-light: rgba(217, 217, 217, 1);
  --input-blue: #1777ff;
  --input-red: #ff4d4f;
  --btn-green: rgba(19, 184, 107, 1);

  --bg-nav: rgba(31, 31, 31, 1);
  --bg-navShadow: rgba(0, 0, 0, 0.3);
  --bg-grey: rgba(62, 62, 62, 1);
  --navLink-dark: rgba(0, 0, 0, 0.15);
  --navLink-active: rgba(255, 170, 0, 1);
  --navLinkActive-text: rgba(30, 30, 30, 1);
  --navBtn-link: rgba(255, 0, 0, 1);
  --headerColor: rgba(231, 231, 231, 1);
  --headerText: rgba(0, 0, 0, 1);

  --addInput: rgba(179, 179, 179, 1);

  --mainH2: rgba(16, 24, 40, 1);
  --mainSpan: rgba(247, 250, 255, 1);
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
